In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import sqlite3 as db
from langdetect import detect
import chess
import chess.pgn
import io
import utils
import data_process
import nltk
import gensim
import re

In [2]:
con = db.connect("./chess.db")
games = pd.read_sql_query("SELECT * FROM gameknot_games WHERE language == 'en'", con)
games

          id                                                pgn language
0         44  [Event "alygally&#039;s mini-tournament"]\n[Da...       en
1         62  [Event "League division D2"]\n[Date "08-Jun-06...       en
2         64  [Event "Let&#039;s play chess"]\n[Date "25-May...       en
3         66  [Event "easy street"]\n[Date "26-Jun-06"]\n[Wh...       en
4         70  [Event "001 mini-tournament"]\n[Date "31-May-0...       en
...      ...                                                ...      ...
12243  70354  [Event "A question of queens..."]\n[Date "14 S...       en
12244  70355  [Event "50th World Open U1800 Round 9 '22"]\n[...       en
12245  70359  [Event "Team match"]\n[Date "2022.06.26"]\n[Wh...       en
12246  70364  [Event "Team match"]\n[Date "2022.06.30"]\n[Wh...       en
12247  70387  [Event "Long road to a win"]\n[Date "2022.07.1...       en

[12248 rows x 3 columns]

In [3]:
# english_annotated_moves = utils.games_to_moves(games)
# english_annotated_moves.head(5)

In [4]:
# english_annotated_moves.applymap(str).to_sql("english_annotated_moves", con, index=True, if_exists="replace")

In [5]:
english_annotated_moves = pd.read_sql_query("SELECT * FROM english_annotated_moves", con)
english_annotated_moves.drop('index', inplace=True, axis=1)
display(english_annotated_moves)

,position,move,comment,halfmove_number,game_id
0,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w ...,e2e4,This is my first gameknot game against someone...,1,44
1,rnbqkbnr/pppp1ppp/8/4p3/4P3/8/PPPP1PPP/RNBQKBN...,b1c3,"I've been playing the Vienna Gambit as white, ...",3,44
2,rnbqkbnr/pppp1ppp/8/4p3/4P3/2N5/PPPP1PPP/R1BQK...,f8c5,Minor disappointment.,4,44
3,r1bqk2r/pppp1ppp/2n2n2/2b1p3/2B1P3/2NP4/PPP2PP...,f2f4,"My idea here is to expand on the kingside, dri...",9,44
4,r1bqk2r/ppp2ppp/3p1n2/n1b1pP2/2B1P3/2NP4/PPP3P...,d1f3,"Maybe this isn't the greatest plan, since with...",13,44
...,...,...,...,...,...
326634,rnb5/p2p1P1N/7p/1pR5/6P1/4k3/2P1B3/3Q1RK1 b - ...,b5b4,Pawn,86,70387
326635,rnb5/p2p1P1N/7p/2R5/1p4P1/4k3/2P1B3/3Q1RK1 w -...,f7f8q,Check mate in two moves,87,70387
326636,rnb2Q2/p2p3N/7p/2R5/1p4P1/4k3/2P1B3/3Q1RK1 b -...,d7d6,Pawn,88,70387
326637,rnb2Q2/p6N/3p3p/2R5/1p4P1/4k3/2P1B3/3Q1RK1 w -...,f8e8,Check,89,70387
326638,rnb1Q3/p6N/3p3p/2R5/1p4P1/4k3/2P1B3/3Q1RK1 b -...,c8e6,Bishop,90,70387

In [7]:
# english_annotated_moves.comment = list(map(data_process.remove_whitespace, english_annotated_moves.comment))
# english_annotated_moves.applymap(str).to_sql("english_annotated_moves", con, index=True, if_exists="replace")

326639

In [11]:
test_str = "Ala ma kota          xd\n\n\n\n\n"
print(test_str)
# res = data_process.remove_whitespace(test_str)
res = re.sub("([ ]|\n)+", " ", test_str)
res = re.sub("[ ]$", "", res)
res += ''
print(res)

Ala ma kota          xd





Ala ma kota xd }

In [11]:
comment = "!! this move is really fantastic. main job of this move is gaurding the g5 square and now if u see g7 rook is trapped and it is as if Black plays with rook down."

In [13]:
list(gensim.utils.simple_tokenize(comment))

['this',
 'move',
 'is',
 'really',
 'fantastic',
 'main',
 'job',
 'of',
 'this',
 'move',
 'is',
 'gaurding',
 'the',
 'g',
 'square',
 'and',
 'now',
 'if',
 'u',
 'see',
 'g',
 'rook',
 'is',
 'trapped',
 'and',
 'it',
 'is',
 'as',
 'if',
 'Black',
 'plays',
 'with',
 'rook',
 'down']