In [3]:
import pandas as pd
import sqlite3 as db
from langdetect import detect
import chess

In [4]:
con = db.connect("./chess.db")
games = pd.read_sql_query("SELECT * FROM gameknot_games", con)
games

          id                                                pgn language
0         44  [Event "alygally&#039;s mini-tournament"]\n[Da...       en
1         62  [Event "League division D2"]\n[Date "08-Jun-06...       en
2         64  [Event "Let&#039;s play chess"]\n[Date "25-May...       en
3         66  [Event "easy street"]\n[Date "26-Jun-06"]\n[Wh...       en
4         70  [Event "001 mini-tournament"]\n[Date "31-May-0...       en
...      ...                                                ...      ...
12736  70354  [Event "A question of queens..."]\n[Date "14 S...       en
12737  70355  [Event "50th World Open U1800 Round 9 '22"]\n[...       en
12738  70359  [Event "Team match"]\n[Date "2022.06.26"]\n[Wh...       en
12739  70364  [Event "Team match"]\n[Date "2022.06.30"]\n[Wh...       en
12740  70387  [Event "Long road to a win"]\n[Date "2022.07.1...       en

[12741 rows x 3 columns]

In [3]:
langs = [detect(pgn) for pgn in games.pgn]
games["language"] = langs
games.to_sql("gameknot_games", con, index=False, index_label="id")

12741